extends layout

block content
  h1= 'Halal Hub Server'
  a(href='https://app.dbdesigner.net/designer/schema/549350' target="_blank") Click here for db tables
  ul
    li
      a(href='/users') Users
 
 

    

  
  

   
  

