extends layout

block content
  h1= 'Halal Reels & Reads API'
  a(href='https://gelatinous-resolution-8d1.notion.site/API-Documentation-2793fffa630e42968302824240ec4471' target="_blank") Documentation
  ul
    li
      a(href='/users') Users
    li
      a(href='/movies') Movies
    li
      a(href='/favoriteMovies') Favorite Movies
    li
      a(href='/books') Books
    li
      a(href='/favoriteBooks') Favorite Books
    li
      a(href='/comments') Comments
 
 

    

  
  

   
  

