extends layout

block content
  h1= 'Halal Reels & Reads API'
  a(href='https://app.dbdesigner.net/designer/schema/549350' target="_blank") Documentation
  ul
    li
      a(href='/users') Users
    li
      a(href='/movies') Movies
    li
      a(href='/favoriteMovies') Favorite Movies
 
 

    

  
  

   
  

